.back {
  width: 100%;
  height: 120vh;
  background-color: white;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 120vh;
  background-color: #000;
}

.main-overlay {
  width: 90vw;
  height: 236px;
  border-radius: 10px;
  background: #f2f2f2;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);

  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-btn-newGame-menu {
  width: 100%;
}

.btn-restart-menu {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  background-color: #fda214;

  color: #fcfcfc;
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
  transition: background-color 0.2s;
}

.btn-newGame-menu {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  background-color: #dfe7ec;

  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
  transition: background-color 0.2s;
}

.main-end-game {
  width: 620px;
  height: auto;
  border-radius: 20px;
  background: #f2f2f2;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);

  padding: 49px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.winner {
  color: #152938;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.result-text {
  color: #7191a5;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.player-score {
  width: 100%;
  height: 72px;
  border-radius: 10px;
  background: #dfe7ec;
  padding: 30px;
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.player-text {
  color: #7191a5;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.score-player {
  color: #304859;
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-btns {
  width: 100%;
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.main-container {
  width: 1110px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
}

.header {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
  margin-bottom: 30px;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-game {
  color: #152938;
  font-family: Atkinson Hyperlegible;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.btn-restart {
  width: 127px;
  height: 52px;
  border-radius: 26px;
  background-color: #fda214;

  color: #fcfcfc;
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
  transition: background-color 0.2s;
}

.box-btn-newGame {
  width: 149px;
}
.btn-newGame {
  width: 149px;
  height: 52px;
  border-radius: 26px;
  background-color: #dfe7ec;

  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
  transition: background-color 0.2s;
}

.btn-resume {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  background-color: #dfe7ec;

  color: black;
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: trasparent;
  transition: background-color 0.2s;
}

.grid-4X4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  align-self: center;
  margin-bottom: 30px;
}

.grid-6X6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  align-self: center;
  margin-bottom: 30px;
}

.circle-4X4 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.circle-6X6 {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.img-4X4 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.img-6X6 {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.numbers-4X4 {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  color: #f2f2f2;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers-6X6 {
  width: 72px;
  height: 72px;
  border-radius: 50%;

  color: #f2f2f2;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box {
  width: 100%;
  height: 72px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.box-timer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.timer-container {
  border-radius: 10px;
  background: #dfe7ec;
  width: 255px;
  height: 72px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.time-text {
  color: #7191a5;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time {
  color: #304859;
  text-align: right;
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.moves-container {
  border-radius: 10px;
  background: #dfe7ec;
  width: 255px;
  height: 72px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.moves-text {
  color: #7191a5;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.moves {
  color: #304859;
  text-align: right;
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timeMoves-container {
  border-radius: 10px;
  background: #dfe7ec;
  width: 255px;
  height: 72px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timeMoves-text {
  color: #7191a5;
  font-family: Atkinson Hyperlegible;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timeMoves {
  color: #304859;
  text-align: right;
  font-family: Atkinson Hyperlegible;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.player-box {
  width: 255px;
  height: 52px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.player {
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.score {
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.current-turn {
  color: #152938;
  font-family: Atkinson Hyperlegible;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;

  position: absolute;
  top: 120%;
  left: 20%;
}

.single-player-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.end-timer-box {
  border-radius: 10px;
  background: #dfe7ec;
  height: 72px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.end-timer-text {
  color: #7191a5;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.end-timer {
  color: #304859;
  text-align: right;
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.end-moves-box {
  border-radius: 10px;
  background: #dfe7ec;
  height: 72px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.end-moves-text {
  color: #7191a5;
  font-family: Atkinson Hyperlegible;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.end-moves {
  color: #304859;
  text-align: right;
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ////////////////////////////////////////////////////////// */

@media (max-width: 1200px) {
  .main-container {
    width: 90vw;
  }

  .header {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .grid {
    margin-bottom: 80px;
  }

  .footer-box {
    gap: 11px;
    margin-bottom: 100px;
  }

  .player-box {
    max-width: 250px;
    height: auto;
    padding: 15px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .current-turn {
    font-size: 11.5px;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
    letter-spacing: 0.5vw;
  }
}

/* //////////////////////////////////////////////////////// */

@media (max-width: 650px) {
  .main-end-game {
    width: 90vw;
    padding: 30px;
  }

  .winner {
    font-size: 40px;
  }

  .btn-restart-menu {
    font-size: 3.7vw;
  }

  .btn-newGame-menu {
    font-size: 3.7vw;
  }

  .btn-resume {
    font-size: 3.7vw;
  }

  .main-container {
    width: 90vw;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .title-game {
    font-size: 24px;
  }

  .menu {
    width: 70px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    background: #fda214;

    color: #fcfcfc;
    font-family: Atkinson Hyperlegible;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: trasparent;
  }

  .grid-4X4 {
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 35px;
  }

  .grid-6X6 {
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 35px;
  }

  .circle-4X4 {
    width: 17vw;
    height: 17vw;
  }

  .circle-6X6 {
    width: 11vw;
    height: 11vw;
  }

  .img-4X4 {
    width: 17vw;
    height: 17vw;
  }

  .img-6X6 {
    width: 11vw;
    height: 11vw;
  }

  .numbers-4X4 {
    width: 17vw;
    height: 17vw;
    font-size: 9vw;
  }

  .numbers-6X6 {
    width: 11vw;
    height: 11vw;
    font-size: 7vw;
  }

  .footer-box {
    gap: 20px;
    height: auto;
  }

  .box-timer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .timer-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }

  .time {
    font-size: 6vw;
  }

  .moves-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }

  .timeMoves-container {
    padding: 15px;
    width: 100%;
    height: auto;
    grid-column: 1/3;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .moves {
    font-size: 6vw;
  }

  .timeMoves-text {
    font-size: 18px;
  }

  .timeMoves {
    font-size: 6vw;
  }

  .player-box {
    margin-top: 20px;
  }

  .end-timer {
    font-size: 5vw;
  }

  .end-moves {
    font-size: 5vw;
  }
}

/* ////////////////////////////////////////////////// */

@media (max-width: 450px) {
  .main-end-game {
    padding: 20px;
  }

  .winner {
    font-size: 24px;
  }

  .result-text {
    font-size: 14px;
  }

  .player-score {
    height: 48px;
    border-radius: 5px;
    padding: 16px;
  }

  .player-text {
    font-size: 13px;
  }

  .score-player {
    font-size: 20px;
  }

  .footer-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .btn-restart-menu {
    height: 48px;

    font-size: 18px;
  }

  .btn-newGame-menu {
    height: 48px;

    font-size: 18px;
  }

  .btn-resume {
    height: 48px;

    font-size: 18px;
  }

  .grid-4X4 {
    column-gap: 12px;
    row-gap: 12px;
    margin-bottom: 20px;
  }

  .grid-6X6 {
    column-gap: 9px;
    row-gap: 9px;
    margin-bottom: 20px;
  }

  .circle-4X4 {
    width: 72px;
    height: 72px;
  }

  .circle-6X6 {
    width: 12.8vw;
    height: 12.8vw;
  }

  .img-4X4 {
    width: 72px;
    height: 72px;
  }

  .img-6X6 {
    width: 12.8vw;
    height: 12.8vw;
  }

  .numbers-4X4 {
    width: 72px;
    height: 72px;
    font-size: 37px;
  }

  .numbers-6X6 {
    width: 46px;
    height: 46px;
    font-size: 25px;
  }

  .footer-box {
    gap: 10px;
  }

  .box-timer {
    margin-top: 20px;
  }

  .player-box {
    margin-top: 20px;
  }

  .time {
    font-size: 24px;
  }

  .moves {
    font-size: 24px;
  }

  .timeMoves {
    font-size: 24px;
  }

  .end-timer {
    font-size: 5vw;
  }

  .end-moves {
    font-size: 5vw;
  }

  .end-timer-text {
    font-size: 13px;
  }

  .end-moves-text {
    font-size: 13px;
  }

  .end-timer-box {
    height: 48px;
  }

  .end-moves-box {
    height: 48px;
  }

  .end-timer {
    font-size: 6vw;
  }

  .end-moves {
    font-size: 6vw;
  }

  .end-timer-box {
    padding: 10px;
  }

  .end-moves-box {
    padding: 10px;
  }
}

/* ///////////////////////////////////////////////////// */

@media (max-width: 360px) {
  .main-end-game {
    padding: 20px;
  }

  .winner {
    font-size: 24px;
  }

  .result-text {
    font-size: 14px;
  }

  .player-score {
    height: 48px;
    border-radius: 5px;
    padding: 16px;
  }

  .player-text {
    font-size: 13px;
  }

  .score-player {
    font-size: 20px;
  }

  .footer-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .btn-restart-menu {
    height: 48px;

    font-size: 18px;
  }

  .btn-newGame-menu {
    height: 48px;

    font-size: 18px;
  }

  .circle-4X4 {
    width: 20vw;
    height: 20vw;
  }

  .circle-6X6 {
    width: 12vw;
    height: 12vw;
  }

  .img-4X4 {
    width: 20vw;
    height: 20vw;
  }

  .img-6X6 {
    width: 12vw;
    height: 12vw;
  }

  .numbers-4X4 {
    width: 20vw;
    height: 20vw;
    font-size: 10vw;
  }

  .numbers-6X6 {
    width: 12vw;
    height: 12vw;
    font-size: 7vw;
  }

  .player {
    font-size: 15px;
  }

  .score {
    font-size: 24px;
  }
}
